.todoGenerator .input {
    height: 4vh;
    width: 35vw;
    margin-right: 1vw;
}

.todoGenerator .button {
    height: 4vh;
    background-color: rgb(62, 153, 196);
    width: 13vw;
    color: white;
    border: none;
}

.todoGenerator {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 1rem;
}