.card {
    display: flex;
    margin-bottom: 1rem;
}
.card:last-of-type {
    margin-bottom: 4rem;
}
.todoItem {
    width: 60vw;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.todoItem .doneText {
    text-decoration: line-through;
}

.todoItem:hover {
    cursor: pointer;
}

.editBtn {
    justify-self: flex-end;
}

.icon-botton {
    background-color: #fff;
    font-size: 1rem;
    margin-right: 1vw;
}

.icon-button:hover {
    cursor: pointer;
}

